<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or "romanstanuch.com" }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <header class="site-header">
            <h1><a href="/" style="text-decoration: none; color: var(--primary-text-color);">Roman Stanuch</a></h1>
            <nav style="display: flex; gap: 0.5rem;">
                <span style="color: var(--secondary-text-color);">[</span>
                <a href="/about">about</a>
                <a href="/writing">writing</a>
                <a href="/lists">lists</a>
                <a href="https://github.com/roman-stanuch/" target="_blank">github</a>
                <span style="color: var(--secondary-text-color);">]</span>
            </nav>
            <span>{% block path %}{% endblock %}</span>
        </header>
        {{ content | safe }}
        <br>
        <hr>
        <footer>
            <p style="color: var(--secondary-text-color);">&copy; 2026 | romanstanuch.com</p>
        </footer>
    </body>
</html>