---
tags: posts
layout: layouts/base.njk
---

<style>
    img {
        margin-block-end: 0;
    }
</style>

{% block path %}
    <header class="path"><a href="/">root</a> / <a href="/writing">writing</a> {% if pathtitle %} / <a href="{{ page.url }}">{{ pathtitle }}</a>{% endif %}</header>
{% endblock %}
<div style="margin-block-start: 0.83em; margin-block-end: 0.83em;">
    <h2 style="margin-block-end: 0; margin-block-start: 0;">{{ title }}</h2>
    <span style="color: var(--secondary-text-color);">Posted On: {{ page.date | dateFormatLong }}</span>
</div>
{{ content | safe }}