---
layout: layouts/base.njk
title: writing | romanstanuch.com
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/writing">writing</a></header>
{% endblock %}

<h2>Writing (<a href="../rss.xml">RSS</a>)</h2>

{% set currentYear = null %}
{% for post in collections.posts | reverse %}
    {% set postYear = post.date | dateYear %}
    {% if postYear != currentYear %}
        <h3>{{ postYear }}</h3>
        {% set currentYear = postYear %}
    {% endif %}
    <p>>> {{ post.date | dateFormatMonth }}: <a href="{{ post.url }}">{{ post.data.title }}</a></p>
{% endfor %}