---
layout: layouts/base.njk
title: About
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/about">about</a></header>
{% endblock %}

<h2>Greetings, I'm Roman!</h2>
<p> 
    Welcome to my website. While my primary interest is programming, this site contains information from
    a wide range of fields that I find interesting including engineering, mathematics, and psychology.
    I am currently exploring different domains in computer science. After previous meddlings in game
    development with Unreal and Unity, and computer graphics with OpenGL, my current projects center
    around modern web dev and cybersecurity.
</p>

<h2>Studies</h2>
<p>
    I will be starting college this upcoming fall, so most of my knowledge up until this point has been
    self taught. Most of my learning has come from building projects and looking at documentation,
    but some sources I found especially helpful were <a href="https://www.udemy.com/user/stephen-ulibarri-3/" target="_blank">Stephen Ulibarri's courses</a> for learning
    Unreal and <a href="https://cs50.harvard.edu/web/" target="_blank">Harvard's CS50w</a> for learning the basics of web development.
    Some courses are good for starting out, but I think the fastest way to learn is just to go out and build something, struggle,
    fail, make mistakes, but come out a better programmer in the end.
</p>