---
layout: layouts/base.njk
title: about | romanstanuch.com
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/about">about</a></header>
{% endblock %}

<h2>Greetings, I'm Roman!</h2>
<p> 
    Welcome to my website. While my primary interest is programming, this site contains information from
    a wide range of fields that I find interesting including engineering, mathematics, and psychology.
    I am currently exploring different domains in computer science. After previous meddlings in game
    development with Unreal and Unity, and computer graphics with OpenGL, my current projects center
    around modern web dev and cybersecurity.
</p>

<img src="/assets/images/personal/bridge.jpg" alt="Photo of Me">

<h2>Studies</h2>
<p>
    I will be starting college this upcoming fall, so most of my knowledge up until this point has been
    self taught. Most of my learning has come from building projects and looking at documentation,
    but some sources I found especially helpful were <a href="https://www.udemy.com/user/stephen-ulibarri-3/" target="_blank">Stephen Ulibarri's courses</a> for learning
    Unreal and <a href="https://cs50.harvard.edu/web/" target="_blank">Harvard's CS50w</a> for learning the basics of web development.
    Some courses are good for starting out, but I think the fastest way to learn is just to go out and build something, struggle,
    fail, make mistakes, but come out a better programmer in the end.
</p>

<h2>Achievements</h2>
<p>
    I like to remain a humble person, so I'll limit any bragging to this short section. I've done some cool things academically like
    <a href="https://www.nbc26.com/oshkosh/oshkosh-student-scores-perfect-act-score-of-36-two-others-earn-score-of-35" target="_blank">getting a 36
    on the ACT</a>, passing pre-calculus with 100% both semesters, and getting a high enough PSAT score to become a
    <a href="https://www.thenorthwestern.com/story/news/education/2025/09/11/oshkosh-area-students-are-national-merit-scholarship-semifinalists/86092736007/?gnt-cfr=1&gca-cat=p&gca-ds=timeout" target="_blank">
    National Merit Scholarship finalist.</a> Outside of my schooling, I have also <a href="https://devpost.com/software/graph-4m" target="_blank">won Most Social
    Project at MadHacks 2025</a> and earned 3 medals in the <a href="https://sites.google.com/view/fvml" target="_blank">Fox Valley Math League.</a>
</p>