---
layout: layouts/base.njk
title: Home
---
{% block path %} 
    <header><a href="/">home</a> /</header>
{% endblock %}

<p>
    Hi, I'm Roman Stanuch! I am currently a senior in high school and will be studying computer science this fall.
    Where that will be is an excellent question that I am yet to have an answer to. Regardless of where I go to
    college, I am excited about the opportunity for new learning and new connections! In the meantime, I have
    been working on some projects that you can see on my <a href="https://github.com/roman-stanuch/" target="_blank">github</a> and
    writing about various topics that you can see in the <a href="/writing">writing</a> section.
</p>