---
layout: layouts/base.njk
title: root | romanstanuch.com
---
{% block path %}
    <header class="path">
        <a href="/">root</a> /</header>
{% endblock %}

<h2>Hi, I'm Roman Stanuch!</h2>
<p>
    I am currently a senior in high school and will be studying computer science this fall.
    Where that will be is an excellent question that I am yet to have an answer to. Regardless of where I go to
    college, I am excited about the opportunity for new learning and new connections! In the meantime, I have
    been working on some projects that you can see on my <a href="https://github.com/roman-stanuch/" target="_blank">github</a> and
    writing about various topics that you can see in the <a href="/writing">writing</a> section.
</p>

<div style="display: flex; gap: 5ch; flex-wrap: wrap;">
    <img style="height: 50ch; width: auto;" src="/assets/images/personal/headshot.jpg" alt="Photo of Me">
    <div style="display: flex; flex-direction: column;">
    <h2 style="margin-block-end: 0em; margin-block-start: 0em;">Latest Writing</h2>
    {% for post in collections.posts | reverse %}
        {% if loop.index <= 5 %}
            <p>>> {{ post.date | dateFormatMonth }}: <a href="{{ post.url }}">{{ post.data.title }}</a>
            </p>
        {% endif %}
    {% endfor %}
    </div>
</div>