---
layout: layouts/base.njk
title: lists | romanstanuch.com
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/lists">lists</a></header>
{% endblock %}

<h2>Bountiful Books!</h2>
<ul>
    <li><a href="https://www.goodreads.com/book/show/18077903-creativity-inc" target="_blank">Creativity, Inc. | Ed Catmull & Amy Wallace</a></li>
    <li><a href="https://www.goodreads.com/book/show/60310722-doom-guy" target="_blank">Doom Guy: Life in First Person | John Romero</a></li>
    <li><a href="https://www.goodreads.com/book/show/213034913-source-code" target="_blank">Source Code: My Beginnings | Bill Gates</a></li>
    <li><a href="https://www.goodreads.com/book/show/74730104-real-time-rendering-fourth-edition" target="_blank">Real Time Rendering, Fourth Edition | Tomas Akenine-Möller et al.</a></li>
    <li><a href="https://www.goodreads.com/book/show/40121378-atomic-habits" target="_blank">Atomic Habits | James Clear</a></li>
    <li><a href="https://www.goodreads.com/book/show/998.The_Millionaire_Next_Door" target="_blank">The Millionaire Next Door | Thomas J. Stanley & William D. Danko</a></li>
    <li><a href="https://www.goodreads.com/book/show/40672036-digital-minimalism" target="_blank">Digital Minimalism | Cal Newport</a></li>
</ul>
<h2>Valuable Videos!</h2>
<ul>
    <li><a href="https://www.youtube.com/watch?v=ji5_MqicxSo" target="_blank">Randy Pausch's Last Lecture: Achieving Your Childhood Dreams | CMU</a></li>
    <li><a href="https://www.youtube.com/watch?v=oTugjssqOT0" target="_blank">Randy Pausch Lecture: Time Management | CMU</a></li>
    <li><a href="https://www.youtube.com/watch?v=16zrEPOsIcI" target="_blank">How do CPUs Work? | Branch Education</a></li>
    <li><a href="https://www.youtube.com/watch?v=h9Z4oGN89MU" target="_blank">How do Graphics Cards Work? | Branch Education</a></li>
    <li><a href="https://www.youtube.com/watch?v=O-2viBhLTqI" target="_blank">What Is A Graphics Programmer? | Acerola</a></li>
</ul>
<h2>Fantastic Films!</h2>
<ul>
    <li><a href="https://www.imdb.com/title/tt0088763/" target="_blank">Back to the Future | Robert Zemeckis</a></li>
    <li><a href="https://www.imdb.com/title/tt0374900/" target="_blank">Napoleon Dynamite | Jared Hess</a></li>
    <li><a href="https://www.imdb.com/title/tt31193180/" target="_blank">Sinners | Ryan Coogler</a></li>
    <li><a href="https://www.imdb.com/title/tt0316654/" target="_blank">Spider-Man 2 | Sam Rami</a></li>
    <li><a href="https://www.imdb.com/title/tt9362722/" target="_blank">Spider-Man Across the Spider-Verse | Joaquim Dos Santos, Kemp Powers, and Justin K. Thompson</a></li>
    <li><a href="https://www.imdb.com/title/tt1285016/" target="_blank">The Social Network | David Fincher</a></li>
    <li><a href="https://www.imdb.com/title/tt0060153/" target="_blank">Batman: The Movie | Leslie H. Martinson</a></li>
    <li><a href="https://www.imdb.com/title/tt0121766/" target="_blank">Star Wars Episode III: Revenge of the Sith | George Lucas</a></li>
    <li><a href="https://www.imdb.com/title/tt1490017/" target="_blank">The LEGO Movie | Phil Lord and Christopher Miller</a></li>
</ul>